<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Add Note</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(231, 74, 134);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/lab-4" style="color: #ebebe9ee;">Note List<span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/lab-4/note-list" style="color: #ebebe9ee;">Note Card</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lab-4/add-note" style="color: rgb(31, 201, 201);">Add Note</a>
        </li>
      </ul>
    </div>
  </nav>

  <style>
   body{
        background-color:rgb(31, 201, 201);
    }
    nav {
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2{
        padding-top: 15px;
        padding-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-weight: bold;
    }
    </style>
<body>
    <h2>Add Note</h2>
</body>
<form action="" method="POST"> {% csrf_token %}
    <div class="row" style="padding-left:5px;"> 
        <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">To: {{form.ke}}</div>
        <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">From: {{form.dari}}</div>
      </div>
      <br>
      <div class="row" style="padding-left:5px; padding-bottom: 15px;"> 
        <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">Title: {{form.judul}}</div><br>
        <div class="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;"> Messages: {{form.pesan}}</div>
        <br>
    </div>
        <center><input class="btn btn-success btn-lg" type="submit" value="Save" style="background-color: rgb(231, 211, 25);"></center>
</form>

</html>