<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Note List</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(231, 74, 134);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/lab-4" style="color: rgb(31, 201, 201);">Note List<span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/lab-4/note-list" style="color: #ebebe9ee;">Note Card</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lab-4/add-note" style="color: #ebebe9ee;">Add Note</a>
        </li>
      </ul>
    </div>
  </nav>
  <style>
    body{
        background-color:rgb(31, 201, 201);
    }
    h2{
        padding-top: 15px;
        padding-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-weight: bold;
    }
    nav {
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    table, th, td {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border:5px solid rgb(231, 211, 25);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }
    th{
        background-color: rgb(231, 74, 134);
    }
    tr{background-color: #f2f2f2;}
    tr:hover {background-color: rgb(231, 74, 134);}
    table.center {
        margin-left: auto; 
        margin-right: auto;
    }
    </style>
  <body>
    <h2>Note List</h2>
    <table class="center" style="width:60%">
      <tr>
        <th><b>To</b></th>
        <th><b>From</b></th>
        <th><b>Title</b></th>
        <th><b>Message</b></th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for element in notes %}
      <tr>
        <td>{{ element.dari }}</td>
        <td>{{ element.ke }}</td>
        <td>{{ element.judul }}</td>
        <td>{{ element.pesan }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>