<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(231, 74, 134);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/lab-4" style="color: #ebebe9ee;">Note List</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/lab-4/note-list" style="color: rgb(31, 201, 201);">Note Card<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lab-4/add-note" style="color: #ebebe9ee;">Add Note</a>
        </li>
      </ul>
    </div>
  </nav>
  <style>
    body {
        background-color: rgb(31, 201, 201);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
      }
    nav {
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2{
        padding-top: 15px;
        padding-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-weight: bold;
    }
    .card {
      text-align:center;
      background: white;
      box-shadow: 0px 0px 0px grey;
      -webkit-transition:  box-shadow .6s ease-out;
      box-shadow: .8px .9px 3px grey;

}
    .card:hover{
      background-color: rgb(231, 211, 25);
      box-shadow: 2px 10px 22px rgb(231, 74, 134);
    -webkit-transition:  box-shadow .6s ease-in;
  }
    

</style>
  <body>
    <h2>Note Card</h2>
    <div class="card-columns">
        {% for element in notes %} 
            <div class="card" style="border: 10px;">
                <h4 class="card-header" style="background-color: rgb(231, 74, 134); " >{{element.judul}}</h5>
                <div class="card-body">
                  <h6 class="card-title">From : {{ element.dari }}</h5>
                  <h6 class="card-title"> To : {{ element.ke }}</h5>
                  <p class="card-text">{{ element.pesan }} </p>
                </div>
              </div>
        <br>
        {% endfor %}  
    </div>
  </body>
</html>