<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    table, th, td {
      border:1px solid rgb(31, 201, 201);
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    tr:hover {background-color: yellow;}
    </style>
  <body>
    <h2>Friend List</h2>
    <table style="width:45%">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for element in friends %}
      <tr>
        <td>{{ element.name }}</td>
        <td>{{ element.npm }}</td>
        <td>{{ element.date }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>