<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
  <body>
    <h2>Notes</h2>
    <table style="width:45%">
      <tr>
        <th><b>To</b></th>
        <th><b>From</b></th>
        <th><b>Title</b></th>
        <th><b>Message</b></th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for element in notes %}
      <tr>
        <td>{{ element.dari }}</td>
        <td>{{ element.ke }}</td>
        <td>{{ element.judul }}</td>
        <td>{{ element.pesan }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
